{% extends './base.html.twig' %}

{% block body %}
<h1 class="h3 mb-3 font-weight-normal">Crea una cuenta</h1>
{{form_start(userForm)}}

{{form_label(userForm.email)}}
{{ form_widget(userForm.email, { "attr": {"class": "form-control"} }) }}

{{form_label(userForm.password)}}
{{ form_widget(userForm.password, { "attr": {"class": "form-control", "type": "password"} }) }}

<button class="btn btn-info" type="submit">Registrar</button>
<div>{{form_errors(userForm)}}</div>
{{form_end(userForm)}}


{% endblock %}
